<script id="entry-template">
    {title}
    {#data}
    <div class="col-xs-12 col-sm-6 col-md-3">
            <input type="hidden" name="{resource}" value="{resource}"/>
            <div class="case-study-box width80">
            <div class="frame">
            <img src="{imageSrc}" alt="content-ebook-ddex" class="imgSrc">
            <span class="type function-type">{function}</span>
            </div>
            <div class="detail clearfix">
            <p class="title">{title}</p>
            <a href="{url}" class="orange-btn width100 imgUrl">
            <img class="downloadImg" alt="download icon" src="{downloadImg}">
            <p class="downloadText">{downloadText}</p>
            <p></p>
            </a>
            </div>
            </div>
            </div>
            </div>
    {/data}
</script>
<div id="output"></div>