<section id="case-studies" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="case-study-filter job-filter">
                    <ul class="clearfix">
                        <li>Filter By</li>
                        <li class="function">
                            Functions<i class="filter-arrow-down"></i>
                        </li>
                        <li class="region">
                            Region<i class="filter-arrow-down"></i>
                        </li>
                    </ul>
                    <ul class="clearfix functionFilter">
                        <li class="careerFilter">
                            <div class="filter-drop-list clearfix">
                                <ul class="clearfix"></ul>
                                <button class="clearAll">Reset filters</button>
                            </div>
                        </li>
                    </ul>
                    <ul class="clearfix regionFilter">
                        <li class="careerFilter">
                            <div class="filter-drop-list clearfix">
                                <ul class="clearfix"></ul>
                                <button class="clearAll">Reset filters</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="resultCount">All Results</div>
            <div class="selectedItems">
            </div>
        </div>
        <div class="row job-template">
            <div class="col-xs-12 col-md-4">
                <a class="job-link" href="#">
                    <div class="job-type blue-box">
                        <div class="heading job-title"></div>
                        <div class="job-type-details">
                            <span class="job-experience"></span>
                            <span class="job-location"></span></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row jobs">
        </div>
</section>
