<div class="client-says ${properties.orientation}">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="blockquotes clearfix">
					<span class="right-arrow"></span>
					<div class="blockquote">
						<p>${properties.description@context='html'}</span>
						</p>
					</div>
					<div class="frame">
						<img src="${properties.fileReference}" alt="Client">
					</div>
					<div class="detail">
						<div class="heading">${properties.clientName}</div>
						<p>${properties.designation}</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
