<div data-sly-include="author.html"></div>
<html>

<div data-sly-include="head.html"></div>

<body class="   hs-content-id-3328146513 hs-landing-page hs-page hs-content-path-digital-online-video-content-supply-chain hs-content-name-whitepaper-content-video-content-supply-chain  " style="padding: 0">
    <div class="body-container-wrapper">
        <div class="body-container container-fluid">
            <div data-sly-include="header.html"></div>
            <div data-sly-include="content.html"></div>
        </div>
    </div>
</body>

<div data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"></div>
<meta data-sly-call="${clientLib.js @ categories='ttnd.widgets,apps.ttnd'}" data-sly-unwrap></meta>

</html>