<div class="row">
    <div class="col-xs-12">
        <h2>${properties.heading}</h2>
    </div>
</div>
<sly data-sly-test.formatPresent="${properties.format}">
    <div class="row">
        <sly data-sly-test="${properties.format=='1'}">
            <sly data-sly-include="caseStudyListing.html"></sly>
        </sly>
        <sly data-sly-test="${properties.format=='2'}">
            <sly data-sly-include="relatedStudies.html"></sly>
        </sly>
    </div>

    <sly data-sly-test="${properties.format=='1'}">
        <div class="col-xs-12 clearLeft">
            <h3>Looking for more details?</h3>
            <a href="#myModal" rel="nofollow" class="common-btn midd talk-to-expert-form" data-target="#myModal"
               data-toggle="modal">Talk to our Experts!</a>
        </div>
    </sly>

    <sly data-sly-test="${properties.format=='2'}">
        <div class="col-xs-12 view-all">

            <a data-sly-use.relatedStudies="com.ttndigital.cms.model.RelatedCaseStudiesComponent" rel="nofollow" href="/content/ttnd/en/case-studies.html">View all ${relatedStudies.tagTitle} Studies</a>
        </div>
    </sly>
</sly>
<sly data-sly-test="${!formatPresent && wcmmode.edit}">
    <p>Please edit this component first before proceeding</p>
</sly>
<sly data-sly-test="${!formatPresent && !wcmmode.edit}">
    <p>No case studies found</p>
</sly>
